<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pointer.lrl.generator.mapper.SeckillOrderMapper">

    <select id="getSeckillOrderPOMsg" resultType="seckillOrderPO">
        select so.user_id, so.goods_id, so.order_id, o.type
        from t_seckill_order so
                 left join t_order o on so.order_id = o.id
        where so.user_id = #{uid}
          and so.goods_id = #{gid}
          and o.type = 1 and o.deleted=0
    </select>
</mapper>
